/_defs/
**/build
*.db
.next
*.tgz
/package/
/coverage/
/.vscode
/docs/.vitepress/cache
/node_modules/

# clang
.cache
*.so
*.o

# python
**/__pycache__

# doxygen
/latex/
/html/
/xml/
/website/static/api/*
